@use './variables';

.main__contenedor__catalogow{
    height: auto;
    .card__content__catalogow {
        padding: 1rem;
        background-color: variables.$colorcardwoman;
        .card__title__catalogow {
            color: black;
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
        }
        .card__text__catalogow {
            color: black;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;    
            font-weight: 400;
        }
    }
}
